*{
	font-family: "DINWebBold",sans-serif !important;
}

#inner-white-box{
    width: 90%;
    height: px; /*750px*/
    float: left;
    padding-left: 40px;
    padding-top: 60px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(50,50,50,0.75);
    margin-left: 60px; 
}

#bottom_grey {
    padding-top: 18px;
    padding-bottom: 18px;
    clear: left;
    float: left;
    background-color: #3d3935;
    width: 92.23%;
    margin-left: 60px; 
}

#top-grey {
    clear: left;
    height: 18px;
    width: 92.23%;
    margin-left: 60px;
    background-color: #3d3935
}

#calc {
    margin: 1em 0;
    border: 1px solid #d2e1e6;
    border-radius: 3px 3px 3px 3px;
    padding: .8em;
    background-color: #e9eff1;
    width: 75%;
    height: 600px;
}

h2,h3{
	color: #ff0505;
	font-size: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th{
	font-size: 15px; 
	background-color: #c3bcc4;
}

td{
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}

input{
	height: 1px;
	width: 80px;
	padding: 15px;
	font-size: 15px;
}

.action_buttons{
	color:white;
	background-color: #ff0019;
	border-radius: 6px 6px 6px 6px;
	padding: 8px;
	position: relative;
	left: 887px;
	bottom: 50px;
}

p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

#results{
	font-size: 15px;
	font-weight: bold;
	width: 10%;
	height: 10%;
}