@import url('https://fonts.googleapis.com/css?family=Coiny');

body{
  background-image: url("/pics/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a:visited span::after{
  background-color: blue;
}

.btn {
  display: inline-block;
  align-self: center;
  color: white;
  background-color: transparent;
  border: none;  
  cursor: pointer;
  z-index: 0;
  margin-right: 15px;
}

.btn:focus {
  outline-color: transparent;
}

.btn-blow:focus::after {
  opacity: 1;
  transform: scale(1);
  color: blue;
}
.btn-blow:focus:hover::after {
  transform: scale(1.2);
}

.btn-blow {
  width: 100px;
  height: 100px;  
}

.btn-blow * {
  pointer-events: none;
}

.btn-blow span {
  position: relative;
  overflow: hidden;
  display: flex;
  left:-50px;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition: transform .4s, border-radius .4s;  
  font-family: 'Coiny', cursive;
  transition-timing-function: cubic-bezier(.5,2.4,.7,.5);
}
.btn-blow span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hotpink;
  background-image: radial-gradient(circle, #ff69b4 0%, #e23a8e 30%, #e23a8e 100%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;  
  border-radius: 0;
  transition: all .4s;
  
}
.btn-blow:hover span {
  transform: scale(1.3);
  transition: transform .8s, border-radius .4s;  
  border-radius: 50%;  
}
.btn-blow:hover span::before {
  transition: background-size .8s, border-radius .4s; 
  border-radius: 50%;
  background-size: 120% 120%;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 10px;
}

th{
  font-size: 15px;
  background-color: #c3bcc4;
}

td{
  padding:5px;
  font-size: 12px;
  font-weight: bold;
}

.sub_buttons{
  background-color: hotpink;
  text-align: center;
  color: white;
}

.num{
  width: 80px;
}


h1{
  margin: 1em 0;
  border: 1px solid #d2e1e6;
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  width: 10%;
}

form,.attri{
  margin: 1em 0;
  border: 1px solid #d2e1e6;
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  width: 75%;
}

h3{
  margin: 1em 0;
  border: 1px solid #d2e1e6;
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  width: 25%;
}