<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css">
  </head>
  <body>
    <form action="/delete" method="post">
      <h2>Current TokiDex</h2>
      <table id="tokidex" style="background-color: white; width: 100%" >
        <tr>
          <th>Id:</th>
          <th>Tokimon Name</th>
          <th>Trainer Name</th>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
          <th>Total Power</th>
        </tr>
          <% rows.forEach((r)=> { %>
          <tr>
            <td><%= r.id%> </td>
            <td><%= r.name%> </td>
            <td><%= r.trainer%> </td>
            <td><%= r.weight%> </td>
            <td><%= r.height%> </td>
            <td><%= r.fly%> </td>
            <td><%= r.fight%> </td>
            <td><%= r.water%> </td>
            <td><%= r.electric%> </td>
            <td><%= r.ice%> </td>
            <td><%= r.earth%> </td>
            <td><%= r.psychic%> </td>
            <td><%= r.spirit%> </td>
            <td><%= r.total%> </td>
          </tr>
          <% }) %>
      </table>
      <p>Delete Tokimon with Id: <input class="num" type="number" name="Id" placeholder="Id #"> <input class="sub_buttons" type="submit" value="Delete"></p>
    </form>
     
  </body>
</html> -->