<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css">
  </head>
  <body>
    <form action="/edit" method="post">
      <h2>Editing Tokimon</h2>
      <table id="tokidex" style="background-color: white; width: 100%" >
        <tr>
          <th>Id:</th>
          <th>Tokimon Name</th>
          <th>Trainer Name</th>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
        </tr>
          <% rows.forEach((r)=> { %>
          <%var ID = r.id%>
          <tr>
            <td><%= r.id%></td>
            <td><%= r.name%> </td>
            <td><%= r.trainer%> </td>
          <td> <input class="num" type="number" name="weight" value="" placeholder="weight"> </td>
          <td> <input class="num" type="number" name="height" value="" placeholder="height"></td>
          <td> <input class="num" type="number" name="fly" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="fight" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="water" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="electric" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="ice" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="earth" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="psychic" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="spirit" value="" placeholder="0-100" min="0" max="100"></td>
          </tr>
          <% }) %>
      </table>
      <p><input class="sub_buttons" type="submit" value="Change Attributes"></p>
    </form>
  </body>
</html>