<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css">
    <script type="text/javascript" src="/javascripts/tokimon.js"></script>
  </head>
  <body>
    <a class="btn btn-blow" href="https://secret-temple-97489.herokuapp.com/attributes.html"><span>Attributes</span></a>
    <form action="/delete" method="post">
      <h2 style="font-size:54px">Current Tokidex</h2>
      <table id="tokidex" style="background-color: white; width: 100%" >
        <tr>
          <th>Id:</th>
          <th>Tokimon Name</th>
          <th>Trainer Name</th>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
          <th>Total Power</th>
        </tr>
          <% rows.forEach((r)=> { %>
          <tr>
            <td><%= r.id%> </td>
            <td><a href="https://secret-temple-97489.herokuapp.com/attributes.html"><%= r.name%></a></td>
            <td><%= r.trainer%> </td>
            <td><%= r.weight%> </td>
            <td><%= r.height%> </td>
            <td><%= r.fly%> </td>
            <td><%= r.fight%> </td>
            <td><%= r.water%> </td>
            <td><%= r.electric%> </td>
            <td><%= r.ice%> </td>
            <td><%= r.earth%> </td>
            <td><%= r.psychic%> </td>
            <td><%= r.spirit%> </td>
            <td><%= r.total%> </td>
          </tr>
          <% }) %>
      </table>
       <p style="font-size: 25px; font-weight: bold"> <u> Delete your Tokimon Here! </u> </p>
      <p>Delete Tokimon with Id: <input id="tokiID" class="num" type="number" name="Id" placeholder="Id #"> <input class="sub_buttons" type="submit" value="Delete"></p>
    </form>

    <form action="/edit" method="post" style="padding-bottom: 10px; padding-top: 10px;">
       <p style="font-size: 25px; font-weight: bold"> <u> Edit your Tokimon Here! </u> </p>
      <p>Edit Tokimon with Id: <input id="tokiID" class="num" type="number" name="Id" placeholder="Id #"> </p><br> Change Attributes: 
      <table>
        <tr>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
        </tr>
        <tr>
           <td> <input class="num" type="number" name="weight" value="" placeholder="weight"> </td>
          <td> <input class="num" type="number" name="height" value="" placeholder="height"></td>
          <td> <input class="num" type="number" name="fly" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="fight" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="water" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="electric" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="ice" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="earth" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="psychic" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="spirit" value="" placeholder="0-100" min="0" max="100"></td>
        </tr>
      </table> <input class="sub_buttons" type="submit" value="Change">
    </form>

     <form action="/add" method="post"> <!-- should eventually be on post, 'get' only grabs table, does not allow for adding tokimon-->
      <p style="font-size: 25px; font-weight: bold"> <u> Log your Tokimon Here! </u> </p>
      <table id="tokidex">
        <tr>
          <th>Tokimon Name</th>
          <th>Trainer Name</th>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
        </tr>
        <tr>
          <td> <input type="text" name="toki_name" placeholder="Tokimon Name"> </td>
          <td> <input type="text" name="trainer" placeholder="Trainer Name"> </td>
          <td> <input class="num" type="number" name="weight" value="" placeholder="weight"> </td>
          <td> <input class="num" type="number" name="height" value="" placeholder="height"></td>
          <td> <input class="num" type="number" name="fly" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="fight" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="water" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="electric" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="ice" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="earth" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="psychic" value="" placeholder="0-100" min="0" max="100"></td>
          <td> <input class="num" type="number" name="spirit" value="" placeholder="0-100" min="0" max="100"></td>
        </tr>
      </table>
      <input class="sub_buttons" type="submit" value="Log">
    </form>
  </body>
</html>