<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css">
  </head>
  <body>
      <h1>Tokidex</h1>
      <a class="btn btn-blow" href="http://localhost:5000/tokimon.html"><span>Tokidex</span></a> <!--make sure to change href to proer urls-->
      <a class="btn btn-blow" href="http://localhost:5000/attributes.html"><span>Attributes</span></a> <!--make sure to change href to proer urls-->
    <p id="para">Log your Tokimon Here!</p>
     <form action="/delete" method="post">
      <table id="tokidex" style="background-color: white; width: 100%" >
        <tr>
          <th>Id:</th>
          <th>Tokimon Name</th>
          <th>Trainer Name</th>
          <th>Weight (lbs)</th>
          <th>Height(cm)</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Earth</th>
          <th>Psychic</th>
          <th>Spirit</th>
          <th>Total Power</th>
        </tr>
          <% rows.forEach((r)=> { %>
          <tr>
            <td><%= r.id%> </td>
            <td><%= r.name%></a></td>
            <td><%= r.trainer%> </td>
            <td><%= r.weight%> </td>
            <td><%= r.height%> </td>
            <td><%= r.fly%> </td>
            <td><%= r.fight%> </td>
            <td><%= r.water%> </td>
            <td><%= r.electric%> </td>
            <td><%= r.ice%> </td>
            <td><%= r.earth%> </td>
            <td><%= r.psychic%> </td>
            <td><%= r.spirit%> </td>
            <td><%= r.total%> </td>
          </tr>
          <% }) %>
      </table>
    </form>
  </body>
</html>